{% extends 'base.html.twig' %}

{% block title %}Base index{% endblock %}

{% block body %}
    <h1>Base index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CompanyName</th>
                <th>Logo</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for base in bases %}
            <tr>
                <td>{{ base.id }}</td>
                <td>{{ base.companyName }}</td>
                <td></td>
                <td>{{ base.updatedAt ? base.updatedAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('base_show', {'id': base.id}) }}">show</a>
                    <a href="{{ path('base_edit', {'id': base.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('base_new') }}">Create new</a>
{% endblock %}
